*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-family: inherit;
    font-size: 1.4rem;
    cursor: pointer;
    border: .1rem solid #0b1015;
    background-color: transparent;
}